* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.main-container-first {
  background-color: rgba(4, 177, 235, 0.7);
  width: 100vw;
  height: 100vh;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container-first-otp {
  background-color: rgba(4, 177, 235, 0.2);
  width: 100vw;
  height: 100vh;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container-second {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(63, 142, 226);
  border-radius: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}

.main-container-third {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 3rem;
  /* background-color: bisque; */
}

.login-main-heading {
  width: 100%;
  text-align: center;
  flex: 1;
  color: white;
  font-size: clamp(2.5rem, 4vw, 4rem);
  text-transform: capitalize;
  text-shadow: 1px 2.5px 6px rgba(237, 243, 243, 0.7);
  -webkit-text-stroke: 0.3px red;
}

.login-form-container {
  width: 100%;
  height: 100%;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-container form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  /* background-color: chartreuse; */
}

.login-form-container form .input-elm {
  width: 100%;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  transition: box-shadow 0.3s ease-out;
}

/* :focus-within will trigger focuss for div(.input-elm) if any content within div(.input-elm) is focussed */
/* just note it:- to make div focussable use tabIndex="0" in div-element 
but here not needed since I want focuss behaviour, on focussing inner focussable children*/
.login-form-container form .input-elm:focus-within {
  box-shadow: 0px 0px 8px 0.2px rgb(42, 254, 0);
}

.login-form-container form .input-elm label {
  padding-left: 0.3rem;
  color: white;
  font-size: clamp(1.5rem, 4vw, 3rem);
}

.login-form-container form .input-elm input {
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  -webkit-user-drag: none;
  outline: none;
  border: none;
}

.btn-container {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}

.btn-container button {
  text-align: center;
  background-color: chocolate;
  border: none;
  padding: 0.2rem 0.4rem;
  color: white;
  border-radius: 0.5rem;
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 500;
  cursor: pointer;
  transition:
    box-shadow 0.3s ease-out,
    transform 0.3s ease-out;
}

.btn-container button:hover {
  box-shadow: 0px 0px 8px 0.2px rgb(42, 254, 0);
}
.btn-container button:active {
  transform: scale(1.02);
}
