* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.owner-window {
  width: 100%;
  background-color: rgb(42, 5, 246);
  display: flex;
  flex-direction: column;
  align-items: center;
}
