* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.owner-window {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.bannar-img {
  width: 100vw;
}

.img-uploader {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  color: rgb(180, 156, 6);
  box-shadow: 0px 1px 4px 6px rgba(249, 3, 3, 0.5);
  border-radius: 0.5rem;
  outline: 1px red solid;
}

.owner-info {
  background-color: rgb(157, 181, 202);
  width: 100vw;
  position: relative;
  bottom: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  box-shadow: 0 -6px 25px rgba(0, 0, 0, 0.3);
}

.name-pic {
  position: relative;
  left: 0.3rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-pic {
  color: rgb(0, 225, 255);
  border: 1.8px solid rgb(0, 225, 255);
  border-radius: 50%;
  box-shadow: 1px 0px 39px currentColor;
}
.name {
  color: white;
  font-size: clamp(0.8rem, 4vw, 3.5rem);
}

.profile-img-uploader {
  position: relative;
  bottom: 20vw;
  left: 7vw;
  color: rgb(180, 156, 6);
}

.stats {
  flex: 1;
  position: relative;
  bottom: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 0.5rem;
  box-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.stats li span {
  color: white;
  font-size: clamp(0.8rem, 4vw, 3rem);
}

.stats li strong {
  color: rgb(123, 119, 119);
  font-size: clamp(0.8rem, 4vw, 2.8rem);
}
