* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.main-container-first {
  background-color: rgba(4, 177, 235, 0.7);
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container-second {
  width: 80vw;
  height: auto;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(63, 142, 226);
  border-radius: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main-container-third {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 3rem;
  /* background-color: bisque; */
}

.login-main-heading {
  width: 100%;
  text-align: center;
  flex: 1;
  color: white;
  font-size: clamp(2.5rem, 4vw, 4rem);
  text-transform: capitalize;
  /* background-color: brown; */
}

.login-form-container {
  width: 100%;
  height: 100%;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-container form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  /* background-color: chartreuse; */
}

.login-form-container form .input-elm {
  width: 100%;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
}
.login-form-container form .input-elm label {
  padding-left: 0.3rem;
  color: white;
  font-size: clamp(1.5rem, 4vw, 3rem);
}
.login-form-container form .input-elm input {
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
