* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.root-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(227, 224, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.first-loading-content {
  background-color: rgba(4, 177, 235, 0.2);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 
input {
  border: 0.01px solid rgba(128, 128, 128, 0.3);
} 
*/

/* 
input:focus {
  outline-width: 0.01px;
} 
*/

/* 
input:focus {
  outline-style: solid;
  outline-top-style: none;
} 
*/

/* 
input:focus {
  outline-color: rgb(77, 255, 0);
   outline-offset: 0.001px;
} 
*/
